<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Contact:</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          {{ site.address_line_1 }} <br>
          {{ site.address_line_2 }} <br>
          {{ site.address_line_3 }} <br>
          <a href="https://form.jotform.com/makereffect/tour"><span>Visit by appointment only for non-members</span></a><br>
          <br>
          Email: {{ site.company_email }}<br>
          Phone: {{ site.telephone_number }}
          <a href="mailto://info@makerfx.org"><span>(Please email if possible as it goes to a group of volunteers, thanks!)</span></a> <br>
        </p>
      </div>

      <!-- <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Links</h3>
        <p><a href="/about"> About Us</a></p>
        <p><a href="/contact"> Contact Us</a></p>
        <p><a href="/blog"> Blog</a></p>
      </div> -->

      <div class="col-md-4">
        <h3>Connect With Us!</h3>
        <div id="social-icons">

          {% if site.facebook_link %}
            <a href="{{ site.facebook_link }}" class="btn-group facebook">
              <i class="fa fa-facebook"></i>
            </a>
          {% endif %}

          {% if site.twitter_link %}
            <a href="{{ site.twitter_link }}" class="btn-group twitter">
              <i class="fa fa-twitter"></i>
            </a>
          {% endif %}

          {% if site.instagram_link %}
            <a href="{{ site.instagram_link }}" class="btn-group instagram">
              <i class="fa fa-instagram"></i>
            </a>
          {% endif %}

          {% if site.flickr_link %}
            <a href="{{ site.flickr_link }}" class="btn-group flickr">
              <i class="fa fa-flickr"></i>
            </a>
          {% endif %}

          {% if site.slack_link %}
            <a href="{{ site.slack_link }}" class="btn-group slack">
              <i class="fa fa-slack"></i>
            </a>
          {% endif %}

        </div>
      </div>
      <div class="col-md-4" style="padding-top:30px">
          <p class="footer-contact">MakerFX Makerspace is a program of <br><a href="http://www.themakereffect.org">The Maker Effect Foundation</a><br> a 501(c)(3) public charity.</p>
      </div>
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }} <a href=" {{ site.url }}">{{ site.title }}</a></p>
  </div>
</footer>
