<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper">
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                        <li data-target="#carousel-1" data-slide-to="3"></li>
                        <li data-target="#carousel-1" data-slide-to="4"></li>
                        <li data-target="#carousel-1" data-slide-to="5"></li>
                        <li data-target="#carousel-1" data-slide-to="6"></li>
                        <li data-target="#carousel-1" data-slide-to="7"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="../assets/img/slider/slide1.jpg" height="400" alt="Image of first carousel">
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="../assets/img/slider/slide2.jpg" height="400" alt="Image of second carousel">
                        </div>
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                        <div class="item">
                            <img src="../assets/img/slider/slide3.jpg" height="400" alt="Image of third carousel">
                        </div>
                        <!-- End Slide 3 -->

                        <!-- Begin Slide 4 -->
                        <div class="item">
                            <img src="../assets/img/slider/slide4.jpg" height="400" alt="Image of fourth carousel">
                        </div>
                        <!-- End Slide 4 -->

                        <!-- Begin Slide 5 -->
                        <div class="item">
                            <img src="../assets/img/slider/slide5.jpg" height="400" alt="Image of fifth carousel">
                        </div>
                        <!-- End Slide 5 -->

                        <!-- Begin Slide 6 -->
                        <div class="item">
                            <img src="../assets/img/slider/slide6.jpg" height="400" alt="Image of fifth carousel">
                        </div>
                        <!-- End Slide 6 -->

                        <!-- Begin Slide 7 -->
                        <div class="item">
                            <img src="../assets/img/slider/slide7.jpg" height="400" alt="Image of fifth carousel">
                        </div>
                        <!-- End Slide 7 -->

                        <!-- Begin Slide 8 -->
                        <div class="item">
                            <img src="../assets/img/slider/slide8.jpg" height="400" alt="Image of fifth carousel">
                        </div>
                        <!-- End Slide 8 -->

                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title">About Us</h3>

                    <p class="services-header-body">
                        MakerFX Makerspace is a community makerspace in South Orlando. We welcome makers of all types, from crafters to artists to robotics builders.
                        Whatever you like to make, you'll find a welcoming community that can help you learn, and wants to learn from you.
                        We are active in the local community and you'll often find MakerFX members showing off what they make at events, volunteering
                        with community projects, partnering with organizations like Boys & Girls Clubs of Central Florida, and much, much more. We also like to work
                        collaboratively with other Orlando Makerspaces such as <a href="https://www.familab.org">FamiLAB</a>, and <a href="https://www.factur.org">Factur</a>.
                        </p>
                    <hr>

                    <h3 class="services-header-title">How Does This Work?</h3>
                    <p>
                        MakerFX is funded by our members who receive 24x7 access to the space & tools as part of their membership.
                    </p>
                    <p>
                        Check out our <a href="/membership">Membership</a> page for membership levels and benefits, and our <a href="/virtual-tour">Virtual Tour</a> page to see the space.
                    </p>

                    <p class="services-header-body">
                        You can also participate in our online community, or to volunteer for group projects & events without becoming a full member -
                        Just send us an email at <a href="mailto:info@makerfx.org">info@makerfx.org</a> to ask for an invite to our Slack Workspace where we discuss tools, tips, upcoming events, and more.
                    </p>
                    <hr>

                    <h3 class="services-header-title">Zones and Equipment</h3>
                    <p class="services-header-body">MakerFX has a wide variety of tools that you can use to take your project from idea to reality!
                      The links below take you to our <a href="http://wiki.makerfx.org">wiki</a> where we document our tools and processes. We aquire new tools on a regular basis, so if you don't see something
                    you are looking for, feel free to <a href="mailto:info@makerfx.org">email us</a> for more info.</p>
                </div>
            </div>

            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"><span class="fa fa-map-marker fa-5x"></span></p>
                        <h4 class="services-title">Laser Cutting & Engraving</h4>
                        <p class="services-body"></p>
                        <p class="services-more"><a href="http://wiki.makerfx.org/Laser_Zone">Learn More</a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-map-marker fa-5x"></i></p>
                        <h4 class="services-title">CNC Routing</h4>
                        <p class="services-body"></p>
                        <p class="services-more"><a href="http://wiki.makerfx.org/CNC_Zone">Learn More</a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-map-marker fa-5x"></i></p>
                        <h4 class="services-title">3D Printing</h4>
                        <p class="services-body"></p>
                        <p class="services-more"><a href="http://wiki.makerfx.org/3D_Printing_Zone">Learn More</a></p>
                    </div>
                </div>
            </div>
            <!-- End Serivces Row 1 -->

            <!-- Begin Services Row 2 -->
            <div class="row services-row services-row-tail services-row-2">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"><span class="fa fa-map-marker fa-5x"></span></p>
                        <h4 class="services-title">Woodworking</h4>
                        <p class="services-body"></p>
                        <p class="services-more"><a href="http://wiki.makerfx.org/Wood_Zone">Learn More</a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-map-marker fa-5x"></i></p>
                        <h4 class="services-title">Metalworking</h4>
                        <p class="services-body"></p>
                        <p class="services-more"><a href="http://wiki.makerfx.org/Metal_Zone">Learn More</a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-map-marker fa-5x"></i></p>
                        <h4 class="services-title">Sewing & Embroidery</h4>
                        <p class="services-body"></p>
                        <p class="services-more"><a href="http://wiki.makerfx.org/Sewing_%26_Embroidery_Zone">Learn More</a></p>
                    </div>
                </div>
            </div>
            <!-- End Serivces Row 2 -->
            <hr>
        </div>

    </section>
    <!-- End #services-section -->
    {% include optional-js.html %}
  </body>

  {% include footer.html %}
</html>
